/*
    Colors:
    green: #00dd00;
    light grey: #f2f2f2;
    yellow: #f5b453;
    red: #be4141;
*/

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 800px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);

    border-radius: 10px;
}

.container img {
    width: 175px;
    margin: auto;
    display: block;
    padding-top: 30px;
}

h1 {
    text-align: center;
    color: #00dd00;
}

.button-container {
    width: 600px;
    height: 50px;
    background-color: #00dd00;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

.scooter {
    color: white;
    padding: 20px 60px 10px;
}

.scooter .model {
    font-size: 24px;
}

.scooter .charge {
    height: 30px;
    border-radius: 10px;
}

.scooter .charge#Gino22 {
    background: #f5b453;
    width: 50%;
}

.scooter .charge#Mike24 {
    background: #00dd00;
    width: 80%;
}

.scooter .charge#Fede154 {
    background: #be4141;
    width: 20%;
}